<%- include('partials/header.ejs') %>

<body>
<%- include('partials/navBar.ejs') %>

<div class="container">
    <h1 class="display-3" id="oi"> Salve</h1>
</div>
</body>

<%- include('partials/footer.ejs') %>
