<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navBar.ejs') %>

<div class="container">

    <form class="row h-75 align-items-center" action="/user/create" method="POST">
        <div class="col-12">

            <div class="mb-5 p-3">
                <h1 class="display-5">Cadastro</h1>
            </div>

            <div class="mb-3 col-12">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3 col-12">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <button type="submit" class="btn btn-primary w-25">Submit</button>
        </div>
    </form>

</div>


<%- include('../../partials/footer.ejs') %>